<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">库存待上架列表</span>
            <button type="button" class="btn btn-default navbar-btn" ui-sref="home" style="padding-left: 10px;">
                <span class="glyphicon glyphicon-menu-left back-left" aria-hidden="true"></span>返回
            </button>
        </div>
    </div>
</nav>

<div class="container-fluid">
	<div class="row form-row">
		<div class="col-lg-12">
			<form rol="form" class="form-inline">
			    <div class="form-group" style="width: 24%;float: left;margin-right: 6px;">
                    <select class="form-control" ng-model="stockSearchForm.cityId" ng-options="c.id as c.name for c in cities" style="height: 42px;">
                        <option value="">请选择-城市</option>
                    </select>
                </div>
                <div class="form-group" style="width: 36%;float: left;margin-right: 6px;">
                    <select class="form-control" ng-model="stockSearchForm.depotId" ng-options="o.id as o.name for o in depots" style="height: 42px;">
                        <option value="">请选择-仓库</option>
                    </select>
                </div>
                <div class="form-group" style="width: 36%;float: left;">
                    <input type="text" class="form-control" placeholder="输入商品名称" ng-model="stockSearchForm.skuName" style="height: 42px;padding-left: 6px;">
                </div>
                <div class="row" style="clear: both;text-align: center;margin: 0 0">
	            	<button type="button" class="btn btn-primary btn-lg search-btn" ng-click="resetPageAndSearch()">
		            	<span class="glyphicon glyphicon-search back-left" aria-hidden="true" style="margin-right: 6px;top:3px;"></span>查询
		            </button>
	            </div>
			</form>
		</div>
	</div>

	<div class="row">
        <div class="col-lg-12 dataTable_wrapper">
            <div class="panel panel-default">
                <table class="table table-striped  table-bordered">
                    <thead>
	                    <tr>
	                        <th class="th-vertical">SKU ID</th>
	                        <th class="th-vertical">SKU名称</th>
	                        <th class="th-vertical">可用数量</th>
	                        <th class="th-vertical">可用打包数</th>
	                        <th class="th-vertical">操作</th>
	                    </tr>
                    </thead>
                    <tbody>
	                    <tr ng-repeat="stock in stocks">
	                        <td class="th-vertical">{{stock.skuId}}</td>
	                        <td>{{stock.skuName}}</td>
	                        <td class="th-vertical">{{stock.availableQuantity}}</td>
	                        <td class="th-vertical">{{stock.bundleAvailableQuantityDes}}</td>
	                        <td class="th-vertical">
	                            <button class="btn btn-primary" ng-click="toConfirmYesNo(stock)">上架</button>
	                        </td>
	                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row" align="center" ng-if="stocks.length > 0">
        <div calss="col-lg-12">
            <pagination total-items="page.totalItems" ng-model="page.currentPage" items-per-page="page.itemsPerPage" max-size="4" class="pagination" boundary-links="true" ng-change="pageChanged()" first-text="首页" last-text="尾页" previous-text="上一页" next-text="下一页"></pagination>
        </div>
    </div>

    <div class="row" ng-if="stocks.length === 0">
        <p class="no-order-tip" style="margin-top: 30%;">
            <span class="glyphicon glyphicon-alert" aria-hidden="true" style="top: 2px; padding-right: 5px;"></span>暂无待上架库存商品
        </p>
    </div>
</div>

<div id="modalConfirm" class="modal fade">
    <div class="modal-dialog" style="margin-top: 34%;">
        <div class="modal-content">
        	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
		        </button>
		        <h4 class="modal-title" id="exampleModalLabel">库存上架确认信息</h4>
		    </div>
            <div class="modal-body">
            	<form name="shelfForm" ng-submit="searchShelfName(stock.shelfCode)">
		            <div class="form-group">
			            <label for="shelf_code" class="control-label">货位码:</label>
			            <div style="position: relative;">
				            <input type="text" class="form-control" id="shelf_code" style="height: 40px;" ng-model="stock.shelfCode" onkeydown="if(event.keyCode==13)shelfForm.submit();" required>
				            <span class="glyphicon glyphicon-remove-circle remove-query" aria-hidden="true" ng-click="clearCode()" ng-if="hasCode === true" style="top: 10px;right: 10px;"></span>
			            </div>
			        </div>
			    </form>
				<form name="modalForm">
					<div class="form-group">
			            <label for="shelf_name" class="control-label">货位名称:</label>
			           	<span style="color: red;">{{tipMsg}}</span>
			            <input type="text" class="form-control" id="shelf_name" style="height: 40px;" ng-model="stock.shelfName" required readonly disabled>
			        </div>
			        <div class="form-group">
			            <label for="quantity" class="control-label">数量:</label>
			            <input type="number" class="form-control" id="quantity" style="height: 40px;" ng-model="stock.quantity" required>
			        </div>
		        </form>
            </div>
            <div class="modal-footer">
                <button id="btnNoConfirmYesNo" type="button" class="btn btn-default">取消</button>
                <button id="btnYesConfirmYesNo" type="button" class="btn btn-primary" ng-disabled="modalForm.$invalid || shelfForm.$invalid" ng-click="addShelf()">确认上架</button>
            </div>
        </div>
    </div>
</div>