body {
    padding-top: 70px;
}

.navbar-default {
	/*background-color: #646464;*/
}

.col-lg-12 {
	padding-right: 1px;
    padding-left: 1px;
}

.panel-heading {
	padding-left: 8px;
}

#lblMsgConfirmYesNo, #alertMsg {
	margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
}

.modal-footer {
	padding-top: 10px;
    padding-bottom: 10px;
}

#btnNoConfirmYesNo, #btnYesConfirmYesNo, #alertBtn {
	padding: 8px 18px;
    font-size: 15px;
}

.navbar-btn {
	margin-right: 10px;
    float: right;
}

.text-btn-center {
	text-align: center;
}

.alert {
	padding: 20px;
	font-size: 25px;
    text-align: center;
}

.back-left {
	top: 2px;
}

.input-fixed {
	position: fixed;
    z-index: 10;
    left: 15px;
    right: 15px;
    margin-top: -58px;
}

#loading-bar .bar {
    background-color: #398439;
    height: 3px;
}
#loading-bar .peg {
    -webkit-box-shadow: #398439 1px 0 6px 1px;
    box-shadow: #398439 1px 0 6px 1px;
}
#loading-bar-spinner {
    display: none;
}

.no-order-tip {
    text-align: center;
    font-size: 19px;
    margin-top: 30%;
}

.remove-query {
    position: absolute;
    right: 6px;
    font-size: 20px;
    color: grey;
    top: 9px;
}
.form-row {
    margin: -5px -10px 14px;
}
.search-btn {
    width: 100%;
    padding: 8px 16px;
}
.version {
    position: absolute;
    bottom: 8px;
    text-align: center;
    width: 100%;
}
.th-vertical {
    vertical-align: middle !important;
    text-align: center;
}
.pagination>li>a, .pagination>li>span {
    padding: 6px 8px;
}